.catalog {
  box-shadow: var(--c-box-shadow);
  padding-bottom: 34px;

  &-top {
    display: inline-block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 48px;
    transition: var(--transition);
    &:hover {
      opacity: 0.8;
    }
    &__txt {
      padding: 47px 62px 41px 36px;
      background: var(--black-1);
      opacity: 0.5;

      font: var(--txt-500-18-ff);
      letter-spacing: 0.07em;
      color: var(--white);
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        scale: 1.2;
      }
    }
  }

  &-block {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 40.5px;
    border-bottom: 1px solid var(--grey-2);

    &__item {
      padding: 17px 57px 18px 58px;
      box-shadow: var(--c-box-shadow);
      border: 1px solid var(--grey-2);

      font: var(--txt-500-20-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);
      transition: var(--transition);
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-cloth {
    padding-top: 30.5px;
    display: flex;
    gap: 133px;
  }
  &-item {
    max-width: 219px;
    &__title {
      font: var(--txt-700-24-ff);
      color: var(--black-1);
      margin-bottom: 28px;
    }
    &__desc {
      display: inline-block;
      font: var(--txt-400-18-ff);
      color: var(--grey-2);
      margin-bottom: 20px;
    }
  }
}
