.welcome {
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &-content {
    max-width: 728px;

    &__title {
      font: var(--txt-900-96-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);
      margin-bottom: 22px;
    }
    &__desc {
      font: var(--txt-400-24-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);
      margin-bottom: 60px;
    }
    &__btn {
      font: var(--txt-400-18-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);

      display: inline-block;
      padding: 25px 90px;
      border: 1px solid var(--grey-2);
      transition: var(--transition);
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-img {
    position: relative;

    &__user {
      padding-right: 133px;
      margin-top: -104px;
    }
    &__logo {
      position: absolute;
      right: 115px;
      top: 0;
      z-index: -1;
    }
    &__pagination {
      position: absolute;
      right: 0;
      bottom: 82px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;
      span {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 36px;
        letter-spacing: 0.07em;
        text-align: right;
        color: var(--grey-3);
      }
      .number {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        letter-spacing: 0.07em;
        text-align: right;
        color: var(--black-1);
      }
    }
    
  }
}
