.welcome {
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @include tablet {
      flex-direction: column-reverse;
    }
  }
  &-left {
    max-width: 720px;
    width: 100%;
    @include tablet {
      margin-bottom: 100px;
    }
    &__title {
      font: var(--txt-900-80-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);
      margin-bottom: 22px;
      @include desktop-small {
        font: var(--txt-900-70-ff);
      }
      @include tablet-small {
        font: var(--txt-900-50-ff);
      }
      @include mobile {
        font: var(--txt-900-35-ff);
      }
    }
    &__desc {
      font: var(--txt-400-24-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);
      margin-bottom: 60px;
      @include mobile {
        font: var(--txt-400-18-ff);
      }
    }
    &__btn {
      font: var(--txt-400-18-ff);
      letter-spacing: 0.07em;
      color: var(--black-1);

      display: inline-block;
      padding: 25px 90px;
      border: 1px solid var(--grey-2);
      transition: var(--transition);
      &:hover {
        border: 1px solid var(--red);
        color: var(--white);
        background-color: var(--red);
      }
      @include mobile {
        padding: 25px 50px;
        font: var(--txt-400-16-ff);
      }
    }
  }

  &-right {
    max-width: 737px;
    width: 100%;
    &__user {
      position: relative;
      max-width: 737px;
      width: 100%;
      overflow: hidden;
      background-image: url(../img/welcome/logo2.svg);
      background-repeat: no-repeat;
      background-size: contain;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__pagination {
      position: absolute;
      right: 0;
      bottom: 82px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;
      @include mobile {
        bottom: 40px;
        gap: 10px;
      }
      .dot {
        font: var(--txt-300-36-ff);
        letter-spacing: 0.07em;
        color: var(--grey-3);
        transition: 0.6s ease;
        cursor: pointer;
        @include mobile {
          font: var(--txt-300-24-ff);
        }
      }
    }
  }
}

.dot:hover {
  color: var(--black-1);
  font: var(--txt-700-54-ff);
  @include mobile {
    font: var(--txt-700-40-ff);
  }
}
.active {
  color: var(--black-1);
  font: var(--txt-700-54-ff);
  @include mobile {
    font: var(--txt-700-40-ff);
  }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
