// breakpoints
$desktop: 1400px;
$desktop-small: 1200px;
$desktop-bady: 1100px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 480px;

// MEDIA QUERIES
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
@mixin desktop-small {
  @media (max-width: $desktop-small) {
    @content;
  }
}
@mixin desktop-bady {
  @media (max-width: $desktop-bady) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: $tablet-small) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: $mobile-small) {
    @content;
  }
}
// @include pseudo-element;
@mixin pseudo-element {
  content: "";
  display: block;
  position: absolute;
  transition: var(--transition);
}

// @include flex-center-center;
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// @include flex-spaceBetween-center;
@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

