:root {
  --ff: "Montserrat", sans-serif;
  --sf: "Roboto", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-900-80-ff: 900 80px / 96% var(--ff);
  --txt-900-70-ff: 900 70px / 96% var(--ff);
  --txt-900-50-ff: 900 50px / 96% var(--ff);
  --txt-900-35-ff: 900 35px / 96% var(--ff);
  --txt-700-54-ff: 700 54px / 100% var(--ff);
  --txt-700-40-ff: 700 40px / 100% var(--ff);
  --txt-700-30-ff: 700 30px / 100% var(--ff);
  --txt-700-24-ff: 700 24px / 100% var(--ff);
  --txt-700-18-ff: 700 18px / 100% var(--ff);
  --txt-700-14-ff: 700 14px / 100% var(--ff);
  --txt-500-20-ff: 500 20px / 100% var(--ff);
  --txt-500-18-ff: 500 18px / 100% var(--ff);
  --txt-400-24-ff: 400 24px / 100% var(--ff);
  --txt-400-22-ff: 400 22px / 100% var(--ff);
  --txt-400-18-ff: 400 18px / 100% var(--ff);
  --txt-400-16-ff: 400 16px / 100% var(--ff);
  --txt-300-36-ff: 300 36px / 100% var(--ff);
  --txt-300-24-ff: 300 24px / 100% var(--ff);
  --txt-300-16-ff: 300 16px / 100% var(--ff);

  --black-1: #0f0f0f;
  --grey: #b2b2b2;
  --white: #fff;
  --grey-2: #878787;
  --grey-3: #cecece;
  --red: #d00000;
  --grey-4: #e7e7e7;
  --grey-7: #6c6c6c;
  --color-8: #f5f5f5;
  --c-box-shadow: 0 102px 124px 0 rgba(0, 0, 0, 0.25);
}
